{{#extend "layout"}}
  {{#content "title"}}Moment Cell{{/content}}
  {{#content "content"}}
    <div class="row">
      <div class="col-md-3">
        <h2>
          <a id="momentcell" href="#momentcell" title="MomentCell" class="section">MomentCell</a>
        </h2>
        <ul class="nav nav-stacked">
          <li><a href="http://wyuenho.github.io/backgrid-moment-cell/api/index.html#!/api/Backgrid.Extension.MomentCell">Backgrid.Extension.MomentCell</a></li>
          <li><a href="http://wyuenho.github.io/backgrid-moment-cell/api/index.html#!/api/Backgrid.Extension.MomentFormatter">Backgrid.Extension.MomentFormatter</a></li>
        </ul>
        <hr/>
        <h4>
          <a id="best-used-on" href="#best-used-on" title="Best Used On" class="section">Best Used On</a>
        </h4>
        <ul>
          <li>Desktop</li>
          <li>Mobile</li>
        </ul>
        <a class="btn btn-lg btn-success center-block" href="https://github.com/wyuenho/backgrid-moment-cell" title="backgrid-moment-cell">Download</a>
      </div>
      <div class="col-md-9">
        <h3>
          <a id="when-to-use" href="#when-to-use" title="When to Use" class="section">When to Use</a>
        </h3>
        <p>While the core DatetimeCell is light-weight and does the job of
          formatting IS0-8601 datetime strings fairly well, it may not be
          well suited when the datatime strings are not in ISO
          format.</p>
        <h3>
          <a id="prerequisites" href="#prerequisites" title="Prerequisites" class="section">Prerequisites</a>
        </h3>
        <p>MomentCell uses <a href="http://momentjs.com/"
          title="Moment.js">Moment.js</a> to render a very powerful
          datetime cell. MomentCell is tested against Moment.js version
          2.5.0.</p>
        <h3>
          <a id="usage" href="#usage" title="Usage" class="section">Usage</a>
        </h3>
        <p>The default MomentCell acts just like DatetimeCell, so if you
          have a column with datetime values, the default MomentCell is
          almost a drop-in replacement, with the only difference being
          that an offset is always present in the output.</p>
        <p>In addition to the ability to read and write ISO-8601 datetime
          strings. By specifying the model and display formats, MomentCell
          can convert and validated any datetime values moment.js
          understands.
        <p>Like the core cell types, you can configure MomentCell
          simply by extending it.</p>
        <textarea class="code-snippet" data-mode="javascript" data-eval="yes">
          var Datum = Backbone.Model.extend({});

          var Data = Backbone.Collection.extend({
            model: Datum
          });

          var data = new Data([{
            date: "270/3/1",
            time: "12:34:56.789",
            datetime: "1911-10-10T07:00:00"
          }]);

          var grid = new Backgrid.Grid({
            columns: [{
              name: "datetime",
              // You can use a default MomentCell by just writing a name
              cell: "moment"
            }, {
              name: "date",
              cell: Backgrid.Extension.MomentCell.extend({
                modelFormat: "YYYY/M/D",
                // You can specify the locales of the model and display formats too
                displayLang: "zh-tw",
                displayFormat: "YYYY-MMM-DD"
              })
            }, {
              name: "time",
              cell: Backgrid.Extension.MomentCell.extend({
                modelInUTC: true,
                modelFormat: "HH:mm:ss.SSS",
                displayFormat: "H:m:s",
                // By default all the values are presumed to be in UTC,
                // you can convert it to the browser's local time if you
                // want
                displayInUTC: false
              })
            }],
            collection: data
          });

          $("#moment-cell-example-result").append(grid.render().el);</textarea>
        <h3>
          <a id="result" href="#result" title="Result" class="section">Result</a>
        </h3>
        <div id="moment-cell-example-result" class="backgrid-container" style="height: auto;"></div>
      </div>
    </div>
  {{/content}}
{{/extend}}
