{{#extend "layout"}}
  {{#content "title"}}Select All{{/content}}
  {{#content "content"}}
    <div class="row">
      <div class="col-md-3">
        <h2>
          <a id="selectall" href="#selectall" title="SelectAll" class="section">SelectAll</a>
        </h2>
        <ul class="nav nav-stacked">
          <li><a href="http://cloudflare.github.io/backgrid-select-all/api/index.html#!/api/Backgrid.Extension.SelectRowCell">Backgrid.Extension.SelectRowCell</a></li>
          <li><a href="http://cloudflare.github.io/backgrid-select-all/api/index.html#!/api/Backgrid.Extension.SelectAllHeaderCell">Backgrid.Extension.SelectAllHeaderCell</a></li>
        </ul>
        <h3>
          <a id="events" href="#events" title="Events" class="section">Events</a>
        </h3>
        <ul class="nav nav-stacked">
          <li><a href="http://cloudflare.github.io/backgrid-select-all/api/index.html#!/api/Backgrid.Extension.SelectAllHeaderCell-method-initialize">backgrid:select</a></li>
          <li><a href="http://cloudflare.github.io/backgrid-select-all/api/index.html#!/api/Backgrid.Extension.SelectAllHeaderCell-method-initialize">backgrid:selected</a></li>
          <li><a href="http://cloudflare.github.io/backgrid-select-all/api/index.html#!/api/Backgrid.Extension.SelectAllHeaderCell-method-onChange">backgrid:select-all</a></li>
        </ul>
        <hr/>
        <h4>
          <a id="best-used-on" href="#best-used-on" title="Best Used On" class="section">Best Used On</a>
        </h4>
        <ul>
          <li>Desktop</li>
          <li>Mobile</li>
        </ul>
        <a class="btn btn-lg btn-success center-block" href="https://github.com/wyuenho/backgrid-select-all" title="backgrid-select-all">Download</a>
      </div>
      <div class="col-md-9">
        <h3>
          <a id="when-to-use" href="#when-to-use" title="When to Use" class="section">When to Use</a>
        </h3>
        <p>When you want to select multiple models at a time for batch operations.</p>
        <h3>
          <a id="usage" href="#usage" title="Usage" class="section">Usage</a>
        </h3>
        <p>To enable the SelectAll extension, you simply have to add a new
          column to your column definition like so:</p>
        <textarea class="code-snippet" data-mode="javascript" data-eval="yes">
          var grid = new Backgrid.Grid({
            columns: [{

              // name is a required parameter, but you don't really want one on a select all column
              name: "",

              // Backgrid.Extension.SelectRowCell lets you select individual rows
              cell: "select-row",

              // Backgrid.Extension.SelectAllHeaderCell lets you select all the row on a page
              headerCell: "select-all",

            }, {
              name: "id",
              label: "ID",
              cell: "string",
              editable: false
            }, {
              name: "name",
              label: "Territory",
              cell: "string"
            }],

            collection: new Backbone.Collection([
              {"name": "Afghanistan", "id": 1},
              {"name": "Albania", "id": 2}
            ])
          });

          $("#select-all-example-1-result").append(grid.render().el);</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <h3><a id="result" href="#result" title="Result" class="section">Result</a></h3>
        <div id="select-all-example-1-result" class="backgrid-container" style="height: auto"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <p>You can also use this extension in concert with <a
          href="https://github.com/backbone-paginator/backbone.paginator"
          title="Backbone.PageableCollection">Backbone.PageableCollection</a>. In
          which case SelectAll will select across all pages by default, whether
          the PageableCollection is in server, client or infinite mode. See this
          <a href="/index.html#complete-example">example</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <h3>
          <a id="manipulating-selections-programmatically"
             href="#manipulating-selections-programmatically"
             title="Manipulating Selections Programmatically"
             class="section"
             >Manipulating Selections Programmatically</a>
        </h3>
        <p>At any point during the lifetime of your program, if you'd like
        to get an array of the currently selected models after you've
        rendered your grid, you can easily do so:</p>
        <textarea class="code-snippet" data-mode="javascript" data-eval="no">
          // This method is only available on Backgrid.Grid after you've
          // include the SelectAll extension.
          var selectedModels = grid.getSelectedModels();

          // To deselect selected models
          grid.clearSelectedModels();

          // Selecting even numbered rows
          grid.collection.each(function (model, i) {
            if (i % 2 == 0) model.trigger("backgrid:select", model, true);
          });</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <p class="label label-info">Pro Tip</p>
        <p>Each SelectRowCell will trigger a <code>backgrid:selected</code>
          event directly from the selected models when its checkbox value
          changes, so if you want to react to those events, you can attach
          your event handlers on the collection.</p>
        <p>See the <a
        href="http://cloudflare.github.io/backgrid-select-all/api/index.html#!/api/Backgrid.Extension.SelectRowCell">API
        documentation</a> for details.</p>
      </div>
    </div>
  {{/content}}
{{/extend}}
