{{#extend "layout"}}
  {{#content "title"}}Select2 Cell{{/content}}
  {{#content "content"}}
    <div class="row">
      <div class="col-md-3">
        <h2>
          <a id="select2cell" href="#select2cell" title="Select2Cell" class="section">Select2Cell</a>
        </h2>
        <ul class="nav nav-stacked">
          <li><a href="http://cloudflare.github.io/backgrid-select2-cell/api/index.html#!/api/Backgrid.Extension.Select2Cell">Backgrid.Extension.Select2Cell</a></li>
          <li><a href="http://cloudflare.github.io/backgrid-select2-cell/api/index.html#!/api/Backgrid.Extension.Select2CellEditor">Backgrid.Extension.Select2CellEditor</a></li>
        </ul>
        <hr/>
        <h4>
          <a id="best-used-on" href="#best-used-on" title="Best Used On" class="section">Best Used On</a>
        </h4>
        <ul>
          <li>Desktop</li>
          <li>Mobile</li>
        </ul>
        <a class="btn btn-lg btn-success center-block" href="https://github.com/wyuenho/backgrid-select2-cell" title="backgrid-select2-cell">Download</a>
      </div>
      <div class="col-md-9">
        <h3>
          <a id="when-to-use" href="#when-to-use" title="When to Use" class="section">When to Use</a>
        </h3>
        <p>When you have a relatively large number of available options
          for a column, or want to use a select box with autocomplete
          capability.</p>
        <h3>
          <a id="prerequisites" href="#prerequisites" title="Prerequisites" class="section">Prerequisites</a>
        </h3>
        <p>Select2Cell uses the <a
          href="http://ivaynberg.github.com/select2/"
          title="select2">Select2</a> jQuery plugin to render its select
          box. Select2Cell is tested with Select2 version 3.4.5.</p>
        <h3>
          <a id="usage" href="#usage" title="Usage" class="section">Usage</a>
        </h3>
        <p>Select2Cell is a very simple extension of the default <a
          href="http://cloudflare.github.io/backgrid/api/index.html#!/api/Backgrid.SelectCell"
          title="SelectCell">SelectCell</a>. You can configure individual
          instances by supplying a <code>select2Options</code> object hash
          during extension, in addition to the options SelectCell supports.</p>
        <textarea class="code-snippet" data-mode="javascript" data-eval="yes">
          var data = new Backbone.Collection([{number: 5, another: 1}]);

          // Just like SelectCell, Select2Cell supports option lists and groups
          var numbers = [{name: 10, values: [
            [1, 1], [2, 2], [3, 3], [4, 4], [5, 5],
            [6, 6], [7, 7], [8, 8], [9, 9], [10, 10]
          ]}];

          var MySelect2Cell = Backgrid.Extension.Select2Cell.extend({
            // any options specific to `select2` goes here
            select2Options: {
              // default is false because Backgrid will save the cell's value
              // and exit edit mode on enter
              openOnEnter: false
            },
            optionValues: numbers,
            // since the value obtained from the underlying `select` element will always be a string,
            // you'll need to provide a `toRaw` formatting method to convert the string back to a
            // type suitable for your model, which is an integer in this case.
            formatter: _.extend({}, Backgrid.SelectFormatter.prototype, {
              toRaw: function (formattedValue, model) {
                return formattedValue == null ? [] : _.map(formattedValue, function (v) {
                  return parseInt(v);
                })
              }
            })
          });

          var grid = new Backgrid.Grid({
            columns: [{
              name: "number",
              cell: MySelect2Cell.extend({ multiple: true })
            }, {
              name: "another",
              cell: MySelect2Cell
            }],
            collection: data
          });

          $("#select2-cell-example-result").append(grid.render().el);</textarea>
        <h3>
          <a id="result" href="#result" title="Result" class="section">Result</a>
        </h3>
        <div id="select2-cell-example-result" class="backgrid-container" style="height: auto;"></div>
        <h3>
          <a id="getting-data-for-optionvalues"
             href="#getting-data-for-optionvalues"
             title="Getting data for `optionValues`"
             class="section"
             >Getting data for <code>optionValues</code></a>
        </h3>
        <p>The Select2Cell and its superclass <a
          href="http://cloudflare.github.io/backgrid/api/index.html#!/api/Backgrid.SelectCell"
          title="SelectCell">SelectCell</a> assumes that the data for the select
          box will have been loaded before the grid is rendered. As a
          consequence of this design decision, select's ability to load its
          options dynamically is rendered useless.</p>
        <p>The reason for this design is when the cell is in display mode, it
          needs to render a label, not its database ID value, so the data will
          have been already loaded even before the Select2CellEditor goes into
          effect.</p>
        <p>To keep your <code>optionValues</code> fresh, you can try one of the following
          approaches:</p>
        <textarea class="code-snippet" data-mode="javascript">
          var SynchronousSelect2Cell = Select2Cell.extend({

            // Cached the last fetched option values
            _optionValues: null,

            // Records the time since the last fetch
            lastUpdated: null,

            // Max time elapsed allowed since the last fetch.
            // 5 minutes in miniseconds in this case.
            maxTimeSinceLastUpdate: 300000,

            // Fetches the option values synchronously if they have gone stale,
            // otherwise return the last fetched results.
            optionValues: function () {
              var self = this;

              if (this.lastUpdate == null ||
                  (new Date()).getTime() - this.lastUpdate >= this.maxTimeSinceLastUpdate) {

                $.ajax({
                  async: false,
                  url: "http://www.example.com/data.json",
                }).done(function (data) {
                  self._optionValues = data;
                  self.lastUpdated = (new Date()).getTime();
                });

              }

              return self._optionValues;
            }
          });

          var AsynchronousSelect2Cell = Select2Cell.extend({

            _optionValues: [/* ... pre-populate initial option values here */],

            updateInterval: 300000,

            fetching: false,

            optionValues: function () {
              var self = this;

              // Updates the option values in the background periodically to maintain freshness
              setInterval(function () {
                self.fetching = true;

                $.get("http://www.example.com/data.json").done(function (data) {
                  self._optionValues = data;
                  self.fetching = false;
                });
              }, self.updateInterval);

              // poor man's semaphore
              while (self.fetching) {}

              return self._optionValues;
            }
          });</textarea>
      </div>
    </div>
  {{/content}}
{{/extend}}
