{{#extend "layout"}}
  {{#content "title"}}Body{{/content}}
  {{#content "content"}}
    <div class="row">
      <div class="col-md-2">
        <h2>
          <a id="body" href="#body" title="Body" class="section">Body</a>
        </h2>
        <ul class="nav nav-stacked">
          <li><a href="http://cloudflare.github.io/backgrid/api/index.html#!/api/Backgrid.Body">Backgrid.Body</a></li>
        </ul>
        <h3>
          <a id="events" href="#events" title="Events" class="section">Events</a>
        </h3>
        <ul class="nav nav-stacked">
          <li><a href="http://cloudflare.github.io/backgrid/api/index.html#!/api/Backgrid.Body-method-moveToNextCell">backgrid:next</a></li>
          <li><a href="http://cloudflare.github.io/backgrid/api/index.html#!/api/Backgrid.Body-method-refresh">backgrid:refresh</a></li>
          <li><a href="http://cloudflare.github.io/backgrid/api/index.html#!/api/Backgrid.Body-method-sort">backgrid:sorted</a></li>
        </ul>
      </div>
      <div class="col-md-10">
        <h3>
          <a id="customizing-body" href="#customizing-body" title="Customizing Body" class="section">Customizing Body</a>
        </h3>
        <p class="label label-danger">Truly Advanced Hacking</p>
        <p>Body is the intermediary view that coordinates between the various
          parts of the grid. Specifically, the default implementation is
          responsible for re-rendering the rows when any model is inserted into,
          removed from, or reordered in the underlying collection, including
          sorting. See the <a href="http://cloudflare.github.io/backgrid/api/index.html#!/api/Backgrid.Body">JSDoc</a> for
          details.</p>
        <textarea class="code-snippet" data-mode="javascript" data-eval="no">
          var ScrollableBody = Backgrid.Body.extend({
            // maybe you'd like to implement table body that is a block element so you can detect scroll events,
            // and may be implement fixed header (wink wink) https://github.com/wyuenho/backgrid/issues/4
          });

          var grid = new Backgrid.Grid({
            body: ScrollableBody,
            columns: [{
              // ...
            }],
            collection: col
          });</textarea>
      </div>
    </div>
  {{/content}}
{{/extend}}
